name: tactile_feedback
description: Tactile feedback on iOS, Android and MacOS
version: 1.1.0
homepage: none

environment:
  sdk: ^3.9.0

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
  pigeon: ^26.0.0

flutter:
  plugin:
    platforms:
      macos:
        pluginClass: TactileFeedbackPlugin
